<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Welcome To Wimpy Chatty!</title>
	
	<link th:href="@{/css/bulma/bulma.css}" rel="stylesheet" />
	
	<link th:href="@{/css/font-awesome/css/font-awesome.css}" rel="stylesheet"  />
	
	<link th:href="@{/css/wimpy/wimpy.css}" rel="stylesheet"  />
	
</head>
<body>

	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" th:href="@{/}"> 
				<img th:src="@{/images/wimpy-logo.png}" width="152" height="88">
			</a> 
			<a role="button" class="navbar-burger" aria-label="menu"aria-expanded="false" data-target="navbarMenu"> 
				<span aria-hidden="true"></span> 
				<span aria-hidden="true"></span> 
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarMenu" class="navbar-menu navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-info mr-2" th:href="@{/auth/profile}"> Profile</a>
					<a class="button is-primary mr-2" th:href="@{/account?friend-page=1}"> Dashboard</a>
					<a class="button is-light" th:href="@{/auth/logout}"> Logout</a>
				</div>
			</div>
		</div>	
		
	</nav>

	<div class="wrapper">
		<section class="container my-5">
	
			<div class="columns">
				<div class="column is-6 is-offset-3">
					
					<div class="columns">
						<div class="column">
							<form class="box" method="POST" th:object="${searchAccountByAccountNameRequest}" th:action="@{/account/search-friend/submit}">
								<div class="field" >
									<input class="input is-primary" type="text" th:field="${searchAccountByAccountNameRequest.accountName}"  placeholder="Account Name">
								</div>
								<div class="field">
									<div class="buttons">
										<button class="button is-primary" type="submit"><i class="fa fa-search mr-2"></i>Search</button>
										<a class="button is-info" th:href="@{/account/search-new-friend}"><i class="fa fa-plus-square mr-2"></i>Add New Friend</a>
									</div>
								</div>
							</form>
						</div>
					</div>
					
					<div class="columns">
						<div class="column">
							<div class="card my-3" th:each="friend : ${pageData.listOfFriend.data}">
								<div class="card-content">
									<p class="is-size-5	" th:text="${friend.accountDisplayName}"></p>
									<div class="block"></div>
									<a class="button is-info is-small" th:href="@{/account/chat/{connectedId}(connectedId=${friend.connectionId})}"><i class="fa fa-comment mr-2"></i>Chat</a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="columns" th:if="${!pageData.listOfFriend.data.isEmpty()}">
				<div class="column is-6 is-offset-3">
					<div class="buttons">
						<a th:if="${pageData.listOfFriend.pageInformation.previousPage} > 0" th:href="@{/account?friend-page={previousPage}(previousPage=${pageData.listOfFriend.pageInformation.previousPage})}" class="button is-info"><i class="fa fa-angle-double-left"></i></a>
						<p class="mx-3"><span th:text="${pageData.listOfFriend.pageInformation.currentPage}" th:remove="tag"></span> / <span th:text="${pageData.listOfFriend.pageInformation.totalPage}" th:remove="tag"></span></p>
						<a th:if="${pageData.listOfFriend.pageInformation.nextPage} < ${pageData.listOfFriend.pageInformation.totalPage}" th:href="@{/account?friend-page={nextPage}(nextPage=${pageData.listOfFriend.pageInformation.nextPage})}" class="button is-info"><i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
			</div>
		
		</section>
	</div>
	
	<footer class="footer">
		<div class="content has-text-centered">
			<p>Created with all the love in the world by Jeremiah Hasudungan</p>
		</div>
	</footer>
	
</body>
</html>