<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome To Wimpy Chatty!</title>
	<link th:href="@{/css/bulma/bulma.css}" rel="stylesheet" />
	
	<link th:href="@{/css/font-awesome/css/font-awesome.css}" rel="stylesheet"  />
	
	<link th:href="@{/css/wimpy/wimpy.css}" rel="stylesheet"  />
	
	<link th:href="@{/css/wimpy/chat-room.css}" rel="stylesheet"  />
</head>
<body>

	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" th:href="@{/}"> 
				<img th:src="@{/images/wimpy-logo.png}" width="152" height="88">
			</a> 
			<a role="button" class="navbar-burger" aria-label="menu"aria-expanded="false" data-target="navbarMenu"> 
				<span aria-hidden="true"></span> 
				<span aria-hidden="true"></span> 
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarMenu" class="navbar-menu navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-info mr-2" th:href="@{/auth/profile}"> Profile</a>
					<a class="button is-primary mr-2" th:href="@{/account?friend-page=1}"> Dashboard</a>
					<a class="button is-light" th:href="@{/auth/logout}"> Logout</a>
				</div>
			</div>
		</div>
		
	</nav>
	
	<!-- Hidden from UI Information  -->
	<input class="input is-hidden" id="connectionId" type="text"  th:value="${pageData.roomChatInformation.connectedId}" hidden="true">
	<input class="input is-hidden" id="senderId" type="text"  th:value="${pageData.roomChatInformation.sender}" hidden="true">
	<input class="input is-hidden" id="receiverId" type="text" th:value="${pageData.roomChatInformation.receiver}" hidden="true">
		
	<div id="wrapper">
		<section class="section">
	
			<!-- User Information -->
			<div class="columns">
	            <div class="column has-text-centered">
	               <p class="is-size-3 has-text-weight-medium" th:text="${pageData.roomChatInformation.receiverDisplayName}"></p>
	               
	               <div class="tag is-info is-rounded">
	               		@<p class="is-size-5" th:text="${pageData.roomChatInformation.receiverAccountName}"></p>
	               </div>
	               
	            </div>
	        </div>
	        
	        <!-- Chat Box -->
	        <div class="columns">
	            <div class="column is-6 is-offset-3">
	               <div class="section vertical-scrollable background-terrier" id="chatBubbleParrent">
	                    <div th:each="chat : ${pageData.roomChatInformation.savedChats}" class="columns">
	                        <div class="column is-half" th:if="${#strings.equalsIgnoreCase(pageData.roomChatInformation.sender, chat.sender)}">
	                            <div  class="notification is-white">
	                                <div class="content">
	                                    <p th:text="${chat.text}"></p>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="column is-half is-offset-6" th:if="${#strings.equalsIgnoreCase(pageData.roomChatInformation.receiver, chat.sender)}">
	                        	<div  class="notification is-primary">
	                                <div class="content">
	                                    <p th:text="${chat.text}"></p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	               </div>
	            </div>
	        </div>
	        
	        <!-- Input Message -->
	        <div class="columns">
	            <div class="column is-6 is-offset-3">
	                <textarea class="textarea is-info" placeholder="e.g. Hello world" rows="2s" id="chatMessage"></textarea>
	                <div class="field my-2"></div>
	                <button class="button is-info is-fullwidth" id="sendChatButton">Send <i class="fa fa-angle-double-right ml-2"></i></button>
	            </div>
	        </div>
        
		</section>
	</div>
	
	<footer class="footer">
		<div class="content has-text-centered">
			<p>Created with all the love in the world by Jeremiah Hasudungan</p>
		</div>
	</footer>

	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js}"></script>
  	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/chat-room.js}"></script>
	
</body>
</html>