<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Welcome To Wimpy Chatty!</title>
	
	<link th:href="@{/css/bulma/bulma.css}" rel="stylesheet"  />
	
	<link th:href="@{/css/font-awesome/css/font-awesome.css}" rel="stylesheet"  />
	
</head>

<body>
	
	<section class="section">
		
		<div class="columns my-20">
			<div class="column is-4-desktop is-offset-4">
				<div class="card">
				
					<div class="card-content">
						<div class="notification is-danger">
 							<p th:text="${errorMessage}"></p>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
		
	</section>
</body>
</html>